<div id="new-user-form">
  <h2>Add New User</h2>
  <%= form_for @user do |f| %>
    <div class="form-section">
      <%= f.label "Name: " %>
      <%= f.text_field :name, required: true %>
    </div>
    <div class="form-section">
      <%= f.label "Employee Number: " %>
      <%= f.text_field :employee_num, required: true %>
    </div>
    <div class="form-section">
      <%= f.label "Password: " %>
      <%= f.password_field :password, required: true %>
    </div>
    <div class="form-section">
      <%= radio_button_tag(:role, "manager", required: true) %>
      <%= label_tag(:role_manager, "Manager") %>
      <%= radio_button_tag(:role, "scientist", required: true) %>
      <%= label_tag(:role_scientist, "Scientist") %>
      <%= radio_button_tag(:role, "warehouse", required: true) %>
      <%= label_tag(:role_warehouse, "Warehouse") %>
    </div>
    <div class="form-section">
      <%= f.label "Warehouse: " %>
      <%= f.text_field :warehouse, required: true %>
    </div>
    <div class="form-section">
      <%= f.submit "Create New Employee" %>
    </div>
  <% end %>

  <% if @errors %>
    <%= render "shared/errors" %>
  <% end %>
</div>
