<h1>Orders</h1>

<% if User.find(session[:user_id]).role == 'manager' %>
  <%= link_to "Make a New Order", new_order_path %>
<% end %>

<table class="inventory-table">
  <tr>
    <th>Order Id</th>
    <th>Received Date</th>
    <th>Order Submitted</th>
    <th>Warehouse</th>
  </tr>
  <% @orders.each do |order| %>
    <tr>
      <td><%= link_to order.id, order_path(Order.find(order.id))  %></td>
      <% if order.received_date %>
        <td><%= order.received_date %></td>
      <% else %>
        <td>Not Received</td>
      <% end %>
      <td><%= order.in_shipment? %></td>
      <td><%= order.warehouse.name %></td>
    </tr>
  <% end %>
</table>
