<%= render 'shared/errors' %>

<div id="login-form-div">
  <%= form_tag orders_path, id: 'login-form', method: :post %>
    <%= render "shared/errors", object: @order_part %>
    <div class="form-section">
      <%= label_tag 'Part Name' %>
      <%= text_field_tag 'part' %>
    </div>
    <div class="form-section">
      <%= label_tag 'Part Number' %>
      <%= text_field_tag 'part_num' %>
    </div>
    <div class="form-section">
      <%= label_tag 'Quantity' %>
      <%= text_field_tag 'quantity' %>
    </div>
    <div class="form-section">
      <%= submit_tag 'Add Another Item' %>
      <%= submit_tag 'Create Order' %>
    </div>
</div>
