<h1 class="order-form-header">Create a New Order</h1>

<div class="order-form">
  <%= form_tag orders_path, method: :post %>
    <div>
      <%= label_tag 'Part Name' %>
      <%= text_field_tag 'part' %>
    </div>
    <div>
      <%= label_tag 'Part Number' %>
      <%= text_field_tag 'part_num' %>
    </div>
    <div>
      <%= label_tag 'Quantity' %>
      <%= text_field_tag 'quantity' %>
    </div>
    <div>
      <%= submit_tag 'Add Item' %>
      <%= submit_tag 'Create Order' %>
    </div>
</div>
